/* Global styles */
* {
    font-family: "Monteserrat", sans-serif;
    color: #532504;
}

/* personal/static/personal/css/style.css */
img {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
}

/* Adjusting the paragraph style */
p {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 1.5;
    text-align: justify;
    font-size: 22px;
    max-width: 800px;
}

nav {
    float: right;
    background-color: #6a5546;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: rgb(240, 234, 224);
    color: #dfdcdb;
    border-radius: 5px;
    font-family: 'Arial Black',sans-serif;
    font-weight: 800;
    transition: background-color 0.5s;
}

nav ul li a:hover {
    background-color: #d5c1b6;
    cursor: pointer;
}

/* Style for the buttons */
button {
    padding: 10px 20px;
    background-color: #6a5546;
    color: #ffffff;
    font-family: 'Lucida Sans', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Hover effect for buttons */
button:hover {
    background-color: #898481;
}

footer {
    text-align: right;
    margin-top: 20px;
}

/* copyright at bottom of each page */
.copyright {
    font-size: 16px;
    font-weight: 900;
    color: #999;
}

.copyright span {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* CSS for specific html pages */

body.blog_list, body.blog_detail{
    background-image: url("{% static 'blog/images/botanical.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


